<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
    <a style="color:chocolate" class="navbar-brand" href="#">Mehta Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <!-- <li class="nav-item">
          <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/createpatient">Add Patients</a>
        </li>
        <li class="nav-item">
            <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/medicinetlist">View Medicine</a>
          </li>-->
        <li class="nav-item">
            <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/medicinetlist">back</a>
          </li> 
      </ul>
    </div>
  </nav>
  
<div class="container">
    <h2 class="text-center">Add new Medicine</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Drug Name</label>
        <input type="text" id="drugName" class="form-control" name="drugName" placeholder="Enter First Name" [(ngModel)]="medicine.drugName" />
      </div>
      <div class="form-group">
        <label>Stock</label>
        <input type="text" id="stock" class="form-control" name="stock" placeholder="Enter Middle Name" [(ngModel)]="medicine.stock" />
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  