<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color:chocolate" class="navbar-brand" href="#">Mehta Hospital</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
     <!-- <li class="nav-item">
        <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/createpatient">Add Patients</a>
      </li>
      <li class="nav-item">
          <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/medicinetlist">View Medicine</a>
        </li>-->
      <li class="nav-item">
          <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">back</a>
        </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <hr>
  <h2 style="text-align:center;margin-top: 20px;">Patient Dashboard</h2>
  <p style="color: rgb(86,86,86); font-size: x-large;">Welcome to  Add Patient Dashboard. Please find the patient list below. Click Appointment to view and update.</p>
</div>

<div class="container">
  <h3 style="color: rgb(86,86,86); font-size: xx-large;">Please provide the patient infornation to add </h3>
<div class="container">
    <h2 class="text-center">Add new Patient</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Enter First Name" [(ngModel)]="patient.firstName" />
      </div>
      <div class="form-group">
        <label>Middle Name</label>
        <input type="text" id="middlename" class="form-control" name="middlename" placeholder="Enter Middle Name" [(ngModel)]="patient.middleName" />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" id="lastname" class="form-control" name="lastname" placeholder="Enter Last Name" [(ngModel)]="patient.lastName" />
      </div>
      <div class="form-group">
        <label>Age</label>
        <input type="text" id="age" class="form-control" name="age" placeholder="Enter Age" [(ngModel)]="patient.age" />
      </div>
      <div class="form-group">
        <label>Blood Group</label>
        <input type="text" id="blood" class="form-control" name="blood" placeholder="Enter Blood Group" [(ngModel)]="patient.blood" />
      </div>
      <div class="form-group">
        <label>Prescription</label>
        <input type="text" id="prescription" class="form-control" name="prescription" placeholder="Enter Medicine name" [(ngModel)]="patient.prescription" />
      </div>
      <div class="form-group">
        <label>Dose</label>
        <input type="text" id="dose" class="form-control" name="dose" placeholder="Enter Drug dose" [(ngModel)]="patient.dose" />
      </div>
      <div class="form-group">
        <label>Fee</label>
        <input type="text" id="fee" class="form-control" name="fee" placeholder="Enter the Charge" [(ngModel)]="patient.dose" />
      </div>
      <div class="form-group">
        <label>Urgency</label>
        <input type="text" id="urgency" class="form-control" name="urgency" placeholder="urgent ?" [(ngModel)]="patient.urgency"/>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
