<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
    <a style="color:chocolate" class="navbar-brand" href="#">Mehta Hospital</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-Appointement">Add Appointement</a>
          </li>
        <li class="nav-item">
          <a style="color: red;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/admin">Back</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <hr>
    <h2 style="text-align:center;margin-top: 20px;">Appointements</h2>
    <p style="color: rgb(86,86,86); font-size: x-large;">Welcome to Appointments Dashboard. Please find the patient list below. Click Appointment to view and update.</p>
  </div>
  
  <div class="container">
    <h3 style="color: rgb(86,86,86); font-size: xx-large;">Current Patient list in the queue</h3>
    <div class="tableFixedHead">
      <br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Symptoms</th>
            <th>Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let xy of appointements">
            <td>{{xy.id}}</td>
            <td>{{xy.firstName}}</td>
            <td>{{xy.middleName}}</td>
            <td>{{xy.lastName}}</td>
            <td>{{xy.age}}</td>
            <td>{{xy.symptoms}}</td>
            <td>{{xy.number}}</td>
            <td>
              <button (click)="delete(xy.id)" class="btn bth-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
